// Fonts
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap'; 

body {
    font-family: 'Andika', sans-serif;
    font-size: 1rem;
    color: #555;
    line-height: 30px;
    padding: 1rem;
}

input, h2, h3, .task-status {
    font-family: 'Amatic SC', cursive;
}

h1{
	font-family: 'Amatic SC', cursive;
	margin-top: 10px;
	font-size: 2.5rem;
    font-weight: 700;
    color: #555;
    line-height: 50px;
}

.red {
    color: $red;
}

.green {
    color: $green
}


i.fa span{
    font-size: 0.8rem;
}

.tasks {
    // border: 1px solid gray;
    // padding: 0;
    // display: table;
    // margin: 0 auto;
    // max-width: 100%;
}

h3 {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h4 {
    text-align: center;
    padding: 0.5rem;
}

.tasks .task-item {
    // border-bottom: 1px solid gray;
    background-color: rgb(239, 245, 252) ;
    margin-bottom: 0.5rem;
}

.tasks .task-item:last-child {
    border-bottom: none;
}

.task-descr{
    // width: 90%;
    border-left: 5px solid $color-new;
    padding: 1rem;
}

.task-descr:hover {
    cursor: pointer;
}

.task-actions{
    min-width: 10%;
    padding: 0.5rem;
}

.task-actions i{
    cursor: pointer;
}

.task-actions i span {
    align-self: center;
}

.task-done {
    text-decoration: line-through;
    border-left: 5px solid $color-done !important;
}

.task-pending {
    border-left: 5px solid $color-pending !important;
}

.task-status {
    background-color: $color-new;
    text-align: center;
    color: white;
}

.task-status-done  {
    background-color: $color-done;
}

.task-status-pending {
    background-color: $color-pending;
}

.form-task{
    // background-color: rgb(239, 245, 252);
    padding: 1rem;
}